{% extends 'layout.html' %}

{% block body %}
  <body class="text-left">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"> </h3>
         </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Nicknames are important, and I have a few:<br> Weeyums, Mayonnaise, Bruno.</h1>
        <p class="lead">My real name is Patrick Williams and I cobbled this page together to entertain the masses.</p>
        <p class="lead">I toil in marketing analytics, mostly creating delightful charts and graphs in Tableau. 
        <p class="lead">My singular life aspiration is to "marry well."</p>
        <p class="lead">Please peruse my resume, take a gander at some of my work on Tableau Public, or enjoy a hilarious joke.</p>
      </main>

      <div>
  		
     </div>

     <div class="container">
     	<i class="fab fa-linkedin fa-3x" style="color:#0e76a8;"></i>
     	<i class="far fa-chart-bar fa-3x" style="color:#014421;"></i>
     	<i class="far fa-grin-wink fa-3x"></i>
     	<i class="fab fa-twitter fa-3x" style="color:#A9A9A9;"></i>
     	</div>
{% endblock %}